[eBook]
fable_id: 3           
#  0 = When I met the Pirates 
#  1 = My voyage to Aragon
#  2 = The talisman of the Badia
#  3 = Cinderella
#  4 = TomThumb
#  5 = JackBeanstalk
format: PDF           ; PDF or EPUB
language: EN          ; EN, IT or RO 
sex: F                ; M or F
name: Mary            ; name of the character
dedication: From Mina,*** with a big hug!

