[eBook]
fable_id: 0           
#  0 = When I met the Pirates 
#  1 = My voyage to Aragon
#  2 = The talisman of the Badia
format: EPUB          ; PDF or EPUB
language: EN          ; EN, IT or RO 
sex: M                ; M or F
name: Johnny          ; name of the character
birthdate: 26-aug-02  ; birthdate
dedication: To our son Johnny, with love ; dedication
