[eBook]
fable_id: 2           
#  0 = When I met the Pirates 
#  1 = My voyage to Aragon
#  2 = The talisman of the Badia
format: PDF           ; PDF or EPUB
language: EN          ; EN, IT or RO 
sex: F                ; M or F
name: Laura           ; name of the character
birthdate: 26-aug-02  ; birthdate
dedication: To our daughter, Laura***with love***Mum and Dad

