[eBook]
fable_id: 2           
#  0 = When I met the Pirates 
#  1 = My voyage to Aragon
#  2 = The talisman of the Badia
format: PDF           ; PDF or EPUB
language: IT          ; EN, IT or RO 
sex: F                ; M or F
name: Laura           ; name of the character
birthdate: 26-aug-02  ; birthdate
dedication: A nostra figlia, Laura***con amore***Mamma e Papa'

